## Лабораторная работа №1 | Вариант 4

Выполнил: Колесник Дмитрий Сергеевич (М8О-313Б-23)

### 1. Numpy

In [7]:
import os
if not os.path.exists('ML'):
    !git clone https://github.com/DmitriyKolesnikM/ML.git

!pip install -q pandas numpy scikit-learn matplotlib seaborn

import numpy as np
import pandas as pd

DATA_PATH = 'ML/hw1/russian-housing-market.csv'
df = pd.read_csv(DATA_PATH)

print("Окружение настроено, данные загружены в переменную 'df'.")
print("Последние 5 строк данных:")
df.tail()

Окружение настроено, данные загружены в переменную 'df'.
Последние 5 строк данных:

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,sub_area,price_doc
30466,30469,2015-06-30,44,27.0,7.0,9.0,1.0,1975.0,2.0,6.0,3.0,Investment,Otradnoe,7400000
30467,30470,2015-06-30,86,59.0,3.0,9.0,2.0,1935.0,4.0,10.0,3.0,Investment,Tverskoe,25000000
30468,30471,2015-06-30,45,NaN,10.0,20.0,1.0,NaN,1.0,1.0,1.0,OwnerOccupier,Poselenie Vnukovskoe,6970959
30469,30472,2015-06-30,64,32.0,5.0,15.0,1.0,2003.0,2.0,11.0,2.0,Investment,Obruchevskoe,13500000
30470,30473,2015-06-30,43,28.0,1.0,9.0,1.0,1968.0,2.0,6.0,2.0,Investment,Novogireevo,5600000

1. Найти индексы не нулевых элементов массива [1,2,0,0,4,0]

In [ ]:
arr = [1, 2, 0, 0, 4, 0]

2. Создайте единичную матрицу размером 3х3

Cloning into 'ML'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 12 (delta 0), reused 9 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (12/12), 498.73 KiB | 1.94 MiB/s, done.

3. Создайте матрицу-шахматную доску 8х8 используя функцию `tile`

4. Дан 1D массив, удалите все элементы которые входят в диапазон `[3, 8]` inplace

In [ ]:
arr = [0, 4, 4, 2, 1, 4, 8, 7, 10, 15]

5. Создайте случайный вектор размером 10 элементов и замените максимальный элемент на 0

6. Как распечатать все значения в массиве?

7. Рассмотрим случайный вектор с формой 100х2, представляющей координаты, и найдем расстояния от точки к точке

8. Как конвертировать массив float(32 bit) к массиву целых чисел (integer 32 bit) in place?

9. Как прочитать заданный файл?
```
1, 2, 3, 4, 5
6,  ,  , 7, 8
 ,  , 9,10,11
```

10. Какой эквивалент enumerate для numpy массивов?

### 2. Pandas

Найдите ответы на вопросы или выполните действия с предложенным датасетом

Файл: `russian-housing-market.csv`

```
price_doc - Цена продажи
id - Id транзакции
timestamp - Дата транзакции
full_sq - суммарная площадь в квадратных метрах, включая лоджию, валконы и отдельные нежилые помещения
life_sq - жилая площаль в квадратных метрах, исключая лоджии, балконы и прочие нежилые помещения
floor - для апартаментов, этаж помещения
max_floor - количество этажей в здании
material - материал стен
build_year - год постройки
num_room - количество жилых комнат
kitch_sq - площадь кухни
state - состояние апартаментов
product_type - покупка или инвестиция собственника-арендатора
sub_area - название района
```

In [ ]:
import pandas as pd

In [ ]:
# Load dataset here

1. Посчитайте количество записей в датасете с отсутствующей информацией о жилой площади жилого помещения

2. Предложите способ заменить отсутствующие значения из пункта 1 и реализуйте его. Способ нужно аргументировать(сказать почему это достаточно хорошее приближение)

3. Какие значения имеет 25, 50 и 75 перцентили полной площади помещения

4. Посчитайте среднюю стоимость продажи помещений с общей площадью от 50 до 70 квадратных метров

5. Какая максимальная этажность здания представлена в датасете

6. Выявите район с самым дорогим жильем

7. Посчитайте среднюю стоимость за квадратный метр жилья в Митино(Mitino)

8. Посчитайте среднюю площадь комнаты в Бибирево

9. Проанализируйте есть ли разница в цене между квартирами на 1 и 9 этажах

10. Найдите минимальную стоимость квартиры с жилой площадью не менее 60 квадратных метров, не менее чем 3мя комнатами и не ниже чем на 5 этаже

### 3. Визуализация

Используя библиотеки matplotlib/sns/plotly/pandas и набор данных представленный ранее визуализируйте

1. Как менялась средняя цена квартиры в Нагатинском Затоне(Nagatinski Zaton) с течением времени

2. Постройте гистограмму распределения цен на квартиры с общей площадью более 50 кв.метров

3. Визуализируйте количество проданных квартир в разных районах

4. Постройте box plot отображающий распределение полных площадей квартир в Басманном районе

5. Визуализируйте зависимость средней стоимости квартир в зависимости от этажа

6. Покажите как меняется средняя площадь квартир в зависимости от района

7. Постройте график изменения медианной цены на квартиру менее 50 кв. метров за период с 2011 до 2014 года*

\* Задание на доп. балл